{% extends "layout.html" %}

{% block title %}Just another playground{% endblock %}

{% block content %}
<h1>Figuring out stuff by doing stuff.</h1>

<p>A place to host experiments.</p>

<ul class="presentation-list">
	<li class="presentation-list__item">
		<a class="presentation-list__link" href="/colour-contrast-explorer">
			<h2 class="presentation-list__heading">
				Colour Contrast Explorer
			</h2>
			<p class="presentation-list__description">WIP to help create a colour system for the web</p>
		</a>
	</li>
</ul>
{% endblock %}