.presentation-list {
	--pl-text-color: var(--text-color-on-soft-accent);
	--pl-text-color-hover: var(--text-color-on-accent);
	--pl-heading-color: var(--link-color-on-soft-accent);
	--pl-heading-color-hover: var(--headings-color-on-accent);
	--pl-bg: var(--bg-color-soft-accent);
	--pl-bg-hover: var(--bg-color-accent);



	list-style-type: none;

	margin: 0;
	padding: 0;

	max-width: 35em;
}



.presentation-list__item {
	margin: 0 0 1em;
}


.presentation-list__link {
	display: block;

	padding: 1em 1em;
	
	text-decoration: none;
	background-color: var(--pl-bg);
	color: var(--pl-heading-color);

	border-radius: 2px;

	&:hover {
		background-color: var(--pl-bg-hover);
		color: var(--pl-heading-color-hover);
	}
}



.presentation-list__heading {
	margin: 0 0 .5rem;
	
	font-size: 1em;
	font-weight: normal;
}

.presentation-list__description {
	margin: 0;

	font-size: .8125em;

	text-decoration: none;
	color: var(--pl-text-color);

	.presentation-list__link:hover > & {
		color: var(--pl-text-color-hover);
	}
}