<!doctype html>
<html class="no-js" lang="fr">
<head>
		<meta charset="UTF-8">
		<title>Darkology - A tentative diagram of the Dark series chronology and characters</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/darkology.css" media="all">
</head>
<body>
	<header class="main-header">
		Some header for some controls
	</header>

	<main class="main-content">
		{% set chosenEpisode = 101 %}
		{% set episodeIndex = -1 %}

		<!-- determine which index of charactersOrder to look for -->
		{% for episode in charactersOrder %}
		{% set episodeIndex = -1 %}
		{% if episode.episode == chosenEpisode %}
		{% set episodeIndex = loop.index0 %}
		{% endif  %}
		{% endfor %}

		<p>Episode index : {{episodeIndex}}</p>


		{% for period in darkPeriods %}
		{% if period.episode <= chosenEpisode %}
		<h2>{{period.id}}</h2>

		{% for character in charactersOrder[episodeIndex].characters %}
		
		
		{% for pcharacter in period.characters %}
			{% if character == pcharacter.id %}
				{% for ppersona in pcharacter.personas %}
					{% if ppersona.episode <= chosenEpisode %}
		<p>{{character}}</p>
						{% for dcharacter in darkCharacters %}
							{% if character == dcharacter.id %}
								{% for dpersona in dcharacter.personas %}
									{% if ppersona.id == dpersona.world + "." + dpersona.age %}
		<img src="/img/dark-characters/{{dpersona.pic}}" alt="{{dpersona.name}}">
		
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}
		
		{% endfor %}

		{% endif %}
		{% endfor %}


		

		
	</main>
	

</body>
</html>