<!doctype html>
<html class="no-js" lang="fr">
<head>
		<meta charset="UTF-8">
		<title>Darkology - A tentative diagram of the Dark series chronology and characters</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/darkology.css" media="all">

		<style></style>
</head>
<body>
	<header class="main-header">
		Header for some controls
	</header>

	<main class="main-content">
		{% set chosenEpisode = charactersOrder[charactersOrder.length - 1].episode %}
		{% set episodeIndex = -1 %}

		<!-- Find the loop index in charactersOrder of the chosen episode -->
		{% for episode in charactersOrder %}
			{% if episode.episode == chosenEpisode %}
				{% set episodeIndex = loop.index0 %}
			{% endif  %}
		{% endfor %}

		<div class="map-boundaries">
			<div class="map">
				{% for period in darkPeriods %}
					{% if period.episode <= chosenEpisode %}
				<h2 class="map__time-heading" data-period="{{period.id}}" style="grid-row: header{{period.id}}-start / header{{period.id}}-end">{{period.name}}</h2>

						{% for character in charactersOrder[episodeIndex].knownCharacters %}
				
				
							{% for pcharacter in period.characters %}
								{% if character == pcharacter.id %}
									{% for ppersona in pcharacter.personas %}
										{% if ppersona.episode <= chosenEpisode %}
											{% for dcharacter in darkCharacters %}
												{% if character == dcharacter.id %}
													{% for dpersona in dcharacter.personas %}
														{% if ppersona.id == dpersona.world + "." + dpersona.age %}

															{% set avatar = { 
																"id": dcharacter.id,
																"pic": dpersona.pic,
																"name": dpersona.name,
																"age": dpersona.age,
																"period": period.id
															} %}
															
															{% include "views/dark-avatar.html" %}					
				
														{% endif %}
													{% endfor %}
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
								{% endif %}
							{% endfor %}
							
						{% endfor %}

					{% endif %}
				{% endfor %}
				
			</div>
		</div>
		
	</main>
	
	<script src="/js/darkology.js" type="text/javascript"></script>

</body>
</html>